body {
  background-color: #0b0c0c;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-svideo-dark {
  background-color: #0b0c0c;
  background-image: linear-gradient(180deg, #0b0c0c 0, rgba(27, 37, 48, 0.85));
  background-repeat: repeat-x;
}
nav {
  background-color: #0b0c0c;
}

.navbar-nav .nav-item .nav-link {
  padding: 0;
  margin: 0 8px;
}

.navbar-nav .active .nav-link {
  border-bottom: 1px solid white;
}

.nav-btn {
  color: rgba(242, 244, 246, 0.7);
}

.nav-btn:hover {
  color: rgba(242, 244, 246, 0.9);
}

.nav-btn span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 50px;
  vertical-align: middle;
}

.section-title {
  position: relative;
  left: -11px;
}

.section-title img {
  position: relative;
  top: -3px;
}

/* ADDED AFTER THE LECTURE */

.dropdown-menu {
  /* aligns dropdown to the right */
  left: unset;
  right: 0;
}

/* customizing dropdown-toggle's color */
nav .dropdown-toggle {
  color: #ffffffa6;
}
nav .dropdown-toggle:hover,
nav .dropdown-toggle:focus {
  color: white;
}

nav .dropdown-menu {
  background-color: #252e39;
  padding: 0;
}

nav .dropdown-item {
  color: #f2f4f6e6;
  padding: 14px 48px 14px 16px;
  border-bottom: 1px solid #303c4a;
}

nav li:last-child .dropdown-item {
  border: none;
}

nav .btn-group .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}

nav .dropdown-item:focus,
nav .dropdown-item:hover {
  color: white;
  background-color: transparent;
}

/* footer section */
a {
  color: #01a3db;
}

a:hover {
  color: #14b5eb;
}

footer {
  text-align: center;
}

footer .footer-logo {
  display: inline-block;
  width: 120px;
  height: 48px;
  background-image: url("../logo/strivevideo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

footer ul {
  list-style: none;
}
footer ul li {
  display: inline-block;
  margin-right: 0.5rem;
}

footer ul:last-of-type {
  color: rgba(255, 255, 255, 0.45);
}
